.b-search {
    margin: .7em .5em .5em
}

a img {
    border: 0
}

.b-pager__active,
.b-pager__inactive {
    word-spacing: .28em
}

.b-pager__inactive {
    color: #999
}

.b-pager__pages {
    margin: .6em 0 0 -.5em
}

.b-pager__current {
    margin-right: .3em;
    margin-left: .3em;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.b-pager__current,
a.b-pager__current:hover {
    font-weight: 400;
    padding: .15em .3em;
    cursor: default;
    text-decoration: none;
    color: #000 !important;
    background: #e8e9ec
}

.b-pager__arr {
    font-style: normal
}

.b-folders__folder_unread {
    font-weight: 700
}

.b-folders__folder__link,
.b-label {
    color: #000
}

.b-label {
    font-weight: 400;
    text-decoration: none
}

.b-label_rounded {
    display: inline-block;
    margin: 0 .078em 0 0;
    padding: 1px .39em;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #fff !important
}

.b-label__remove {
    font: 700 100% Verdana, sans-serif;
    margin: 0 -.4em 0 0;
    padding: 0 .2em;
    line-height: 1.4065em;
    cursor: pointer
}

a.b-label_rounded:hover {
    color: #fff !important
}

.b-labels .b-label,
.b-labels__users .b-label_rounded {
    display: -moz-inline-box;
    display: inline-block;
    margin-bottom: 3px
}

.b-labels__users .b-label_rounded {
    vertical-align: bottom
}

.b-labels__users .b-label__content {
    text-decoration: none
}

.b-toolbar__i {
    display: table
}

.b-toolbar__col {
    display: table-cell;
    text-align: center
}

.b-toolbar__col_type_disabled {
    background: #f5f7fa !important
}

.b-toolbar__col_type_disabled .b-toolbar__but {
    color: #ced2da
}

.b-toolbar__but {
    font: 100% Arial, sans-serif;
    cursor: pointer;
    text-decoration: none;
    border: 0;
    background: 0 0;
    color: #445
}

a.b-toolbar__but {
    color: #445
}

.b-toolbar__but__i {
    font-style: normal
}

.b-form {
    margin: 0
}

.b-form-checkbox {
    font: 100% Arial, sans-serif
}

.b-form-checkbox,
.b-form-label {
    margin: 0;
    vertical-align: middle
}

.b-direct-stripe {
    min-height: 22px;
    padding: 5px 10px 2px
}

.b-direct-stripe_mobile {
    min-height: 40px;
    padding: 5px
}

.b-messages {
    position: relative
}

.b-messages__date {
    font-weight: 400;
    text-align: right;
    vertical-align: top
}

.b-messages__firstline {
    font-weight: 400;
    color: #999
}

.b-messages__from {
    color: #000
}

.b-messages__from:hover,
.b-messages__message__link:hover {
    color: red
}

.b-messages__message {
    display: block;
    white-space: nowrap
}

.b-messages__message__link {
    text-decoration: none;
    color: #000
}

.b-messages__message__checkbox,
.b-messages__message__flag {
    position: absolute
}

.b-messages__message__left {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: -1px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    -moz-text-overflow: ellipsis;
    -webkit-text-overflow: ellipsis
}

.b-messages__message .b-mail-icon_important {
    padding: 0 3px 0 0;
    cursor: pointer
}

.b-messages__message_thread,
.b-messages__thread-head {
    background: #e6edf5
}

.b-messages__thread-head .b-messages__subject {
    font: 700 115% Arial, sans-serif;
    text-decoration: none
}

.b-messages__message_unread {
    font-weight: 700
}

.b-messages__prefix {
    margin: 0 .3em 0 0;
    color: #999
}

.b-messages__size {
    font-weight: 400
}

.b-messages__subject {
    margin-right: .4em
}

.b-messages__thread {
    padding: 0 3px
}

.b-messages__thread-count {
    position: absolute;
    left: 0;
    padding: 4px 0 5px .39em;
    text-decoration: none
}

.b-messages__thread-count .b-ico {
    margin: 2px 0 0
}

.b-messages__thread-num {
    display: inline !important;
    padding: 1px .5em;
    text-decoration: none;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px
}

.b-statusline {
    color: #5c729a
}

.b-statusline__link {
    color: #000 !important
}

.b-statusline_type_error {
    color: #654;
    background: #fec !important
}

.b-cont .b-title {
    font-size: 100%
}

.b-title,
body {
    font: 700 130% Arial, sans-serif;
    margin: 0
}

.b-link__link:link {
    color: #42629d
}

body {
    font: .8em Arial, sans-serif;
    position: relative;
    z-index: 0;
    min-width: 800px;
    height: 100%;
    padding: 0;
    background: #eaedf6;
    color: #000
}

.b-page {
    margin: 0 1em 1em .5em
}

.b-footer__col_left {
    width: 204px;
    padding-left: 16px;
    margin-right: -220px;
    float: left
}

.b-footer__col_right {
    margin: 0 16px 0 226px;
    white-space: nowrap
}

.b-footer__block {
    display: -moz-inline-box;
    display: inline-block;
    vertical-align: top
}

.b-footer__block_versions {
    width: 23%;
    padding-right: 2%
}

.b-footer__block_links {
    width: 34%
}

.b-footer__block_copyright {
    width: 31%;
    padding: 0 0 0 2%;
    text-align: right
}

.b-footer .b-pseudo-link,
.b-footer__link {
    color: #444;
    white-space: nowrap
}

.b-footer__link_mobile {
    color: #318800
}

.b-footer {
    font: 85%/2 Arial;
    z-index: 1;
    padding: 8px 0 10px
}

.b-pager {
    font-size: 130%;
    margin-top: 1em;
    padding-left: 15px
}

.b-pager__left {
    margin-right: .8em
}

.b-pager__title {
    font-weight: 700;
    padding-right: .65em
}

#js .b-dropdown__or,
.b-pager__next,
.b-pager__prev {
    text-decoration: none
}

.b-pager__next_txt,
.b-pager__prev_txt {
    text-decoration: underline
}

.b-pager__next .b-pager__arr,
.b-pager__prev .b-pager__arr {
    color: #000
}

.b-pager__page {
    margin: .15em .6em
}

.b-layout {
    overflow: hidden;
    position: relative;
    margin-top: 1em;
    padding-left: 200px
}

.b-layout__left {
    position: relative;
    float: left;
    left: -200px;
    margin: 65px -220px 0 0;
    width: 200px
}

.b-layout__right {
    position: relative;
    float: left;
    width: 100%;
    min-height: 200px;
    padding-bottom: 2em;
    background: #fff
}

.b-folders {
    width: 195px;
    z-index: 99
}

.b-folders__folder {
    position: relative;
    display: block
}

.b-folders__folder_current {
    background: #c3d1f3
}

.b-folders__folder__num {
    font-size: 90%;
    position: relative;
    float: right;
    height: 16px;
    padding: 5px 8px 2px 6px
}

.b-folders__folder__link {
    float: left;
    height: 16px;
    margin-left: 5px;
    padding: 3px 10px 4px 0
}

.b-folders__folder__name {
    display: block;
    overflow: hidden;
    white-space: nowrap
}

.b-folders__folder_choose,
.b-messages__message__left br {
    display: none
}

.b-folders .b-label_important,
.b-folders .b-label_unread {
    padding: 3px 5px
}

.b-folders__folder_nesting1 {
    padding-left: 12px
}

.b-folders__folder_nesting2 {
    padding-left: 24px
}

.b-folders__folder_nesting3 {
    padding-left: 36px
}

.b-folders__folder_nesting4 {
    padding-left: 48px
}

.b-folders__folder_nesting5 {
    padding-left: 60px
}

.b-folders__folder_nesting6 {
    padding-left: 72px
}

.b-folders__folder_nesting7 {
    padding-left: 84px
}

.b-folders__folder_nesting8 {
    padding-left: 96px
}

.b-folders__folder_nesting9 {
    padding-left: 108px
}

.b-folders__folder_nesting10 {
    padding-left: 120px
}

.b-labels {
    margin: .5em 0;
    padding: .5em 0;
    border-top: 1px solid #ccd
}

.b-labels,
.b-labels__users {
    display: block
}

.b-label__content {
    text-decoration: underline
}

.b-toolbar {
    position: relative;
    border: 1px solid #beccee;
    background: #eaf0f7;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e7f5));
    background: -moz-linear-gradient(top, #fff, #e0e7f5)
}

.b-toolbar__col {
    border-right: 1px solid #beccee
}

.b-toolbar__but {
    display: -moz-inline-box;
    display: inline-block;
    padding: 8px;
    vertical-align: middle
}

.b-toolbar__search {
    position: absolute;
    top: 50%;
    right: 1.25em;
    height: 26px;
    margin-top: -14px
}

.b-toolbar__search .b-search {
    margin: 0
}

@media only screen and (min-device-width:481px) and (max-device-width:1024px) {
    .b-toolbar_type_messages .b-search {
        position: relative;
        right: -6px
    }

    .b-toolbar_type_messages .b-search input[type=search] {
        width: 110px
    }
}

.b-messages__date {
    position: absolute;
    right: 0;
    width: 4.6875em;
    padding: .234em 1.25em .3125em .39em
}

.b-messages__message {
    height: 1.875em;
    padding: 1px 6.875em 1px 19.14em;
    line-height: 1.328125em;
    border-bottom: 1px solid #eaedf6
}

.b-messages__message .b-mail-icon_new {
    margin: .45em 0 0 .3em
}

.b-messages__message__link {
    padding: .39em 0 .468em;
    line-height: 2.03125em
}

.b-messages__message .b-mail-icon_forwarded,
.b-messages__message .b-mail-icon_replied {
    margin: .3215em 0 0
}

.b-messages__message__checkbox {
    left: 0;
    padding: .48em .45em .5em .75em
}

.b-messages__message__flag {
    left: 2.3em;
    padding: .234em .2em .3125em
}

HTML:root .b-messages__message__link,
x:-o-prefocus {
    display: inline-block;
    padding: 0
}

.b-messages__message_thread {
    margin: 1px 3px 0;
    padding-right: 6.64em;
    padding-left: 18.765625em !important
}

.b-messages__message_with-size {
    padding-right: 13.75em !important
}

.b-messages__thread-head {
    padding: .5em 1em
}

.b-messages__from {
    position: absolute;
    left: 5.85875em;
    width: 12.89em;
    padding: .3125em 0 .39em;
    overflow: hidden;
    line-height: 1.40625em;
    border-right: .39em solid transparent;
    cursor: pointer
}

.b-messages__from__text {
    text-decoration: underline
}

.b-messages__size {
    position: absolute;
    right: 6.3275em;
    width: 5.8em;
    padding: .234em 0 .3125em 1.640625em;
    white-space: nowrap
}

.b-messages__size .b-mail-icon_attach {
    position: absolute;
    left: 5px
}

.b-messages__thread-num {
    margin: 3px .078em 0 0;
    color: #beccef;
    background: #fff
}

.b-messages__check-all {
    padding: .48em .45em .5em .75em
}

.b-messages__check-all .b-form-label {
    margin-left: 5px
}

.b-statusline {
    padding: .3em .8em
}

.b-cont {
    margin: .7em .7em 0
}

.b-cont .b-title {
    margin-bottom: .7em;
    padding: 0
}

.b-title {
    padding: .2em 0 0 .5em
}

.b-text {
    margin: .5em 0 0
}

.b-link {
    margin-top: .7em
}

.b-dropdown__item,
.b-dropdown__list {
    margin: 0;
    padding: 0;
    list-style: none
}

.b-dropdown,
.b-dropdown__list {
    display: inline
}

.b-dropdown__item {
    display: none;
    white-space: nowrap
}

.b-dropdown__visible {
    display: inline
}

.b-dropdown__or:visited {
    color: #1a3dc1
}

#js a.b-dropdown__or:hover {
    word-spacing: 0
}

#js a.b-dropdown__or:hover .b-dropdown__arrow,
#js a.b-dropdown__or:hover .b-pseudo-link,
#js a.b-dropdown__or:hover:after,
a.b-pseudo-link:hover {
    color: red !important
}

#js .b-dropdown__or:after {
    font-size: 80%;
    margin-left: .2em;
    content: "\25BC";
    text-decoration: none;
    color: #1a3dc1
}

#js .b-dropdown__or:focus {
    outline: 0
}

.b-dropdown__popup {
    position: absolute;
    z-index: 9999;
    display: inline;
    margin: -4px 0 0 -10px
}

.b-dropdown__iframe {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    background: #fff
}

.b-dropdown__popup {
    border: 1px solid #fff
}

.b-dropdown__popup .b-dropdown__list {
    display: block;
    padding: 1px 1px 3px;
    border: 1px solid #bfbfbf
}

.b-dropdown__popup .b-dropdown__item {
    display: block;
    padding: 1px 9px 4px 7px
}

.b-dropdown__popup .b-dropdown__line {
    margin: 1px 3px 0;
    padding: 3px 4px 4px;
    border-top: 1px solid #ddd
}

.b-pseudo-link {
    white-space: nowrap;
    color: #1a3dc1
}

#js .b-pseudo-link {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px dotted
}

.b-user,
.b-user__link,
.b-user__link:link {
    font-weight: 700;
    color: #000 !important
}

.b-user__first-letter {
    font-weight: 700
}

.b-user__link,
.b-user__link .b-user__first-letter {
    text-decoration: underline !important
}

.b-user__first-letter,
a.b-user__link:hover {
    color: red !important
}

.b-head-user,
.b-head-user .b-user {
    white-space: nowrap
}

.b-head-user .b-user__link,
body .b-head-user .b-user__first-letter {
    text-decoration: none !important
}

#js .b-head-user .b-dropdown__or:after,
.b-head-user .b-dropdown__item,
.b-head-user .b-dropdown__or .b-pseudo-link {
    color: #000
}

.b-head-tabs {
    font-size: 100%;
    margin: 0 10px .85em 0;
    border-collapse: collapse
}

.b-head-tabs__tab {
    padding: 3px 15px 2px 0;
    vertical-align: top;
    line-height: 1.27em;
    white-space: nowrap
}

.b-head-tabs__more {
    padding-right: 0
}

.b-head-name_logo {
    font: 700 125%/.82em Arial, sans-serif;
    margin: auto
}

.b-head-name {
    display: block;
    white-space: nowrap
}

.b-head-logo {
    text-align: center
}

.b-head-logo__logo {
    padding: 1.1em 0 .47em
}

.b-head-user .b-dropdown__link {
    color: #8295db
}

.b-head-logo {
    position: absolute;
    top: 9px;
    left: 53px;
    z-index: 1;
    width: 119px;
    height: 90px;
    margin: 0;
    background: url(/s3/mail/lite/_/McavqyOT-yCT4x0wvdbDCIxIphg.png) no-repeat
}

.b-head-logo__logo {
    position: relative;
    top: 18px;
    text-decoration: none
}

.b-head-logo_lang_en .b-head-logo__image {
    width: 95px;
    height: 37px;
    background-image: url(//yastatic.net/lego/_/w3fZdbIEslxR_9CQRR-ezRNUZ_Q.png)
}

.b-head-logo_lang_ru .b-head-logo__image {
    width: 115px;
    height: 43px;
    background-image: url(/s3/mail/lite/_/UlfClH7m6Sj10jLQ5KxM5cSk5cc.png)
}

.b-head-name_logo {
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 98px;
    padding: 0
}

.b-head-name_logo .b-head-name__link {
    display: block;
    padding: .1em 0 .25em
}

.b-head-tabs .b-dropdown__link {
    color: #8295db
}

.b-header {
    height: 39px
}

.b-header__middle {
    margin: 0 20% 0 226px
}

.b-header__right {
    z-index: 100;
    position: absolute;
    top: 0;
    right: 0;
    width: 21%;
    white-space: nowrap
}

.b-header__right .b-userpic {
    position: absolute;
    top: .46875em;
    left: -30px
}

.b-header__link_setup,
.b-header__right .b-head-user {
    float: left;
    clear: left;
    display: inline;
    margin: .3125em 0 0
}

.b-header__link_exit,
.b-header__link_help {
    float: right;
    clear: right;
    display: inline;
    margin: .3125em 25px 0 1em
}

.b-head-name {
    color: #fff;
    background: #8ea4d3 url(/s3/mail/lite/_/1OYsyKle3nTsnm7Dpg26_0S_iyg.png) repeat-x
}

.b-head-name_loading {
    background: url(/s3/mail/lite/_/jrvkdZmYmKvwd9HiJdoxwUp-gMQ.gif) repeat-x !important
}

.b-head-name__link,
a.b-head-name__link:hover {
    color: #fff !important
}

#js .b-head-tabs .b-dropdown__or:after,
.b-head-tabs .b-pseudo-link,
.b-header__link,
body .b-head-tabs__link {
    color: #4d7ccf
}

.b-head-tabs .b-dropdown__popup {
    background: #eaedf6
}