{%extends 'base.html'%}
{%load static%}
{%block title%}
Новое письмо — Яндекс.Почта
{%endblock%}
    <!--[if gt IE 7]><!-->
{%block head%}
    <link xmlns:fn="http://www.w3.org/2005/02/xpath-functions" type="text/css" rel="stylesheet"
        href="{%static 'css/_compose_lite.css'%}">
{%endblock%}
{%block content%}
    <div id="main" role="main" aria-label="Рабочая область">
        <div class="b-compose">
            <form method="post" action="{%url 'compose'%}" enctype="multipart/form-data">
                {%csrf_token%}
                <input type="hidden" name="id_route" value="">
            <table class="b-compose-head">
                <tbody>
                    <tr class="b-compose-head__field ">
                        <td class="b-compose-head__field__name">
                            <label class="b-form-label" for="id1166037212615">Кому</label></td>
                        <td class="b-compose-head__field__value">
                            <div class="b-form-input">
                                <div class="b-form-input__box">
                                    <!-- <input id="id1166037212615" class="b-form-input__input" name="to" autocorrect="off" autocomplete="off" value=""> -->
                                    {{mform.receiver}}
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class="b-compose-head__field js-enabled ">
                        <td class="b-compose-head__field__name"><label class="b-form-label"
                                for="id1166037212610">Копия</label></td>
                        <td class="b-compose-head__field__value">
                            <div class="b-form-input">
                                <div class="b-form-input__box">
                                    <input id="id1166037212610" class="b-form-input__input"
                                        name="cc" autocorrect="off" autocomplete="off" value=""><a
                                        class="b-form-input__clear g-js"
                                        data-bem="{&quot;name&quot;:&quot;b-form-input__clear&quot;, &quot;for&quot;: &quot;id1166037212610&quot;}"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class=" b-compose-head__field js-enabled">
                        <td class="b-compose-head__field__name"><label class="b-form-label"
                                for="id1166037212604">Скрытая</label></td>
                        <td class="b-compose-head__field__value">
                            <div class="b-form-input">
                                <div class="b-form-input__box"><input id="id1166037212604" class="b-form-input__input"
                                        name="bcc" autocorrect="off" autocomplete="off" value=""><a
                                        class="b-form-input__clear g-js"
                                        data-bem="{&quot;name&quot;:&quot;b-form-input__clear&quot;, &quot;for&quot;: &quot;id1166037212604&quot;}"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr class=" b-compose-head__field ">
                        <td class="b-compose-head__field__name"><label class="b-form-label"
                                for="id1166037212599">Тема</label></td>
                        <td class="b-compose-head__field__value">
                            <div class="b-form-input">
                                <div class="b-form-input__box">
                                    <!-- <input id="id1166037212599" class="b-form-input__input" name="subj" autocorrect="off" autocomplete="off" value=""> -->
                                    {{mform.topic}}
                                    <a class="b-form-input__clear g-js" data-bem="{&quot;name&quot;:&quot;b-form-input__clear&quot;, &quot;for&quot;: &quot;id1166037212599&quot;}"></a>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            {{mform.text_message}}
            <!-- <textarea class="b-form-textarea" name="send" id="compose-send" cols="30" rows="10" aria-label="Тело письма"></textarea> -->
                 <input type="button" onclick="createDoc();" name="create" value="создать документ" tabindex="0" id="createdoc">
                <script type="text/javascript">
                    function createDoc(event){
                        console.log('click');
                        //event.preventDefault();
                        $.ajax({
                            url:"/mail/createdoc/",
                            type:'POST',
                            data: { csrfmiddlewaretoken: "{{ csrf_token }}",
                                    state:"inactive"
                                  },
                            success:function(response){
                                console.log(response);
                            }
                        })
                    }
                </script>
            <div class="b-buttons">
                {{fileform.file}}
                    <input class="b-form-button b-compose__send" type="submit" name="doit" value="Отправить">
                    <input class="b-form-button b-compose__draft" type="submit" name="nosend" value="Сохранить">
                    <input class="b-form-button b-compose__cancel" type="submit" name="cancel" value="Отмена">
 <!--                { if user.is_chief } -->
<!--                     <input class="b-form-button b-compose__tr" type="submit" name="tr" value="Создать маршрут"> -->
<!--                 { endif } -->
            </div>
        </div>
        </form>
    </div>
</div>
{%endblock%}