{%extends 'base.html'%}
{%load static%}
{%block title%}
{%endblock%}
{%block content%}
        <div class="b-message" role="main" aria-label="Рабочая область">
            <input type="hidden" name="msg_id" value="{{message.id}}">
            {%csrf_token%}
            <div class="b-message-head">
                <div class="b-message-head__top">
                    <div class="b-message-head__subject"><span class="b-message-head__subject-text">{{message.topic}}</span>
                    </div><span class="b-message-head__field b-message-head__field_date"><em
                            class="b-message-head__field-name">Когда:
                        </em> <span class="b-message-head__date">{{message.date|date:"d b в H:i"}}</span></span>
                </div>
                <div class="b-message-head__field"><em class="b-message-head__field-name">Кому:
                    </em> <span class="b-message-head__field-value"><span class="b-message-head__person">{{message.receiver.first_name}} {{message.receiver.last_name}} {{message.receiver.profile.patronomic}} </span><a href="https://mail.yandex.ru/lite/compose?to=ustin0we@yandex.ru"
                            class="b-message-head__email">{{message.receiver.username}}</a></span></div>
                <div class="b-message-head__field"><em class="b-message-head__field-name">От кого:
                    </em> <span class="b-message-head__field-value"><span
                            class="b-message-head__person">{{message.sender.first_name}} {{message.sender.last_name}} {{message.sender.profile.patronomic}} </span><a
                            href="https://mail.yandex.ru/lite/compose?to=konaz@mail.ru"
                            class="b-message-head__email">{{message.sender.username}}</a></span></div>
            </div>
            <div class="b-message-body">
                <div class="b-message-body__content">
                    <div class="b-message-attach js-attachments"></div>
                    {{message.text_message|safe}}
                    {%for file in message.files.all%}
                    <div class="b-message-attach js-attachments">
                        <div class="b-message-attach__i js-attachment">
                            <span class="b-message-attach__info">
                                <img alt="" src="{% static 'img/b-mail-icon_file-general.gif'%}" class="b-message-attach__info-icon">
                                {{file.file.name}} 
                                <em class="b-message-attach__width"></em>
                            </span>
                            <span class="b-message-attach__actions">
                                <a href="/media/{{file.file.name}}" class="b-message-attach__actions-link" download>Скачать
                                </a>
                            </span>
                            <span class="b-message-attach__actions">
                                <input type="button" class="b-message-attach__actions-link" onclick="createDoc();" name="create" value="открыть документ" tabindex="0" id="createdoc">
                                    <script type="text/javascript">
                                        function createDoc(event){
                                            console.log('click');
                                            //event.preventDefault();
                                            $.ajax({
                                                url:"/mail/createdoc/",
                                                type:'POST',
                                                data: { csrfmiddlewaretoken: "{{ csrf_token }}",
                                                        state:"inactive",
                                                        file:"{{file.file.name}}"

                                                      },
                                                success:function(response){
                                                    console.log(response);
                                                }
                                            })
                                        }
                                    </script>
                            </span>
                            <input name="parts" value="1.2" type="hidden">
                        </div>
                    {%endfor%}
                    </div>
                </div>
                {%if message.sender.username != user.username%}
                {%if read_in_route != True%}
                <form method="post" action="{%url 'nextroad'%}"
                    enctype="multipart/form-data">
                    {%csrf_token%}
                    <div class="b-message-reply">
                        <!-- <div class="b-message-reply__form"><textarea cols="30" rows="5" class="b-form-textarea"
                                name="send" aria-label="Ответить на письмо"></textarea> -->
                            {% if message.in_route == True and last_user_in_route != None %}
                                <div class="b-message-reply__toolbar"><span
                                    class="b-message-reply__toolbar_txt">Редактируйте документ</span></div>
                                <input type="hidden" name="id_route" value={{id_route}}>
                                <input type="hidden" name="topic" value={{message.topic}}>
                                {{mform.text_message}}
                                {{fileform.file}}
                                <div class="b-message-reply__form-act_true"><input name="doit1" value="Отправить далее по маршруту"
                                        class="b-form-button" type="submit"></div> 
                            {% endif %}
                    
                        </div>
                    </div>
                </form>
                {%endif%}
                {%endif%}
            </div>
            <div class="b-messages__check-all" style="display:none;"><input id="check-all" class="b-form-checkbox pda-action"
                type="checkbox" data-action="check-all"><label for="check-all"
                class="b-form-label">выбрать все</label></div>
        </div>
    </div>


{%endblock%}